<h1>User Rankings</h1>
<p>
	Where do you stack up against the world?
</p>
	
<table class="selections">
  <tr>
	<th>User</th>
    <th>Round 1 Total</th>
    <th>Round 2 Total</th>
    <th>Round 3 Total</th>
    <th>Round 4 Total</th>
    <th>Total</th>
  </tr>

  	<% for user in @users %>
      <% user_results(user) %>
      <% @totals << {"user"=>user.id, "total"=>@total.sum} %>
      <% @sorted_totals = @totals.sort! { |x, y| x["total"] <=> y["total"] } %>
      <% @sorted_users = [] %>
      <% @sorted_totals.each do |u| %>
        <% @sorted_users << u["user"] %>
      <% end %>
      <%  reset_vars() %>
      <% end %>

    <% for user in @sorted_users %>
      <% user_results(user) %>
	  	<tr>
		   	<td><%=link_to @user.name, @user %></td>
		   	<td><%= @results_1.sum %></td>
		   	<td><%= @results_2.sum %></td>
		   	<td><%= @results_3.sum %></td>
		   	<td><%= @results_4.sum %></td>
		   	<td><%= @total.sum %></td>
	   	</tr>
      <%  reset_vars() %>
	<% end %>
</table>