<h1>Current Masters Standings</h1>
<table class="selections">	
  <tr>
  	<th>Position</th>
	<th>Golfer</th>
	<th>Country</th>
    <th>Round 1 Total</th>
    <th>Round 2 Total</th>
    <th>Round 3 Total</th>
    <th>Round 4 Total</th>
    <th>Total</th>
  </tr>

  	<% for golfer in @golfers %>
  		<% golfer_results(golfer) %>
		<% @totals << {"golfer"=>golfer.id, "total"=>@total.sum} %>
		<% @sorted_totals = @totals.sort! { |x, y| x["total"] <=> y["total"] } %>
		<% @sorted_golfers = [] %>
		<% @sorted_totals.each do |u| %>
			<% @sorted_golfers << u["golfer"] %>
		<% end %>
		<%  reset_vars() %>
	<% end %>

  <% for golfer in @sorted_golfers %>
  	<% golfer_results(golfer) %>
	  	<tr>
			<% if @total.sum == @previous_total.sum %>
  					<td>T<%= @position %></td>
			<% else %>
				<% @position = @position + 1 %>
				<td><%= @position %></td>
			<% end %>
		   	<td><%= @golfer.name %></td>
		   	<td><%= @golfer.country_name %></td>
		   	<td><%= round_score_to_par(@results_1.sum)%></td>
		   	<td><%= round_score_to_par(@results_2.sum) %></td>
		   	<td><%= round_score_to_par(@results_3.sum) %></td>
		   	<td><%= round_score_to_par(@results_4.sum) %></td>
		   	<td><%= total_score_to_par(@total.sum) %></td>
	   	</tr>
	   	<% @previous_total = [] %>
	  	<% @previous_total = [@results_1.sum,@results_2.sum,@results_3.sum,@results_4.sum] %>
      <%  reset_vars() %>
	<% end %>

</table>
