<h1>Add Golfer</h1>

<%= form_for(@golfer) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </div>
  
  <div class="field">
  <%= f.label :status %><br />
  <%= f.text_field :status %>
  </div>

  <div class="field">
  <%= f.label :group_id %><br />
  <%= f.text_field :group_id %>
  </div>

  <div class="actions">
  <%= f.submit "Add Golfer" %>
  </div>
<% end %>