<h1>Create a New Pool</h1>

<%= form_tag pools_path, :method => :create do %>
  
  <div class="field">
    <%= label_tag :name %><br />
    <%= text_field_tag "pools[name]"%>
  </div>

  <div class="field">
    <%= label_tag :description %><br />
    <%= text_field_tag "pools[description]" %>
  </div>

  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag "pools[password]" %>
  </div>

  <div class="field">
    <%= label_tag :password_confirmation %><br />
    <%= password_field_tag "pools[password_confirmation]" %>
  </div>

  <div class="actions">
    <%= submit_tag "Add Pool" %>
  </div>
<% end %>
