<table class="front">
    <tr>
      <td class="main">
        <h1 class="selection">Your Selections:</h1>
      </td>
    </tr>
  </table>
<table class="front">
  <tr>
    <th>Golfer Group</th>
    <th>Golfer Name</th>
    <th>Round 1</th>
    <th>Round 2</th>
    <th>Round 3</th>
    <th>Round 4</th>
    <th>Final Score</th>
    <th>Edit / Delete</th>
  </tr>

<% @groups.each do |f| %>
  <tr>
      <% if @user.selections.scoped_by_group_id(f).exists? %>
        <% @display_selection = Golfer.find(@user.selections.find_by_group_id(f).golfer_id) %>
        <td><%= @display_selection.group_id %></td>
        <td><%= @display_selection.name %></td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
        <td>400</td>
        <td><%= link_to "Edit", "/selections/#{@user.selections.find_by_group_id(f).id}/edit" %> <%= link_to "Delete", "/selections/#{@user.selections.find_by_group_id(f).id}", :method => :delete, :confirm => "Are you sure?" %></td>
      <% else %>
        <td><%= f %></td>
        <td>Blank</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td></td>
      <% end %>
  </tr>
<% end %>
  </table>