<table class="front">
    <tr>
      <td class="main">
        <h1 class="selection">Your Selections:</h1>
      </td>
    </tr>
  </table>
  <table class="front">
    <tr>
      <th></th>
      <th>Golfer Group</th>
      <th>Golfer Name</th>
      <th>Round 1</th>
      <th>Round 2</th>
      <th>Round 3</th>
      <th>Round 4</th>
      <th>Final Score</th>
      <th>Select/Edit</th>
    </tr>
  
  <%= form_tag edit_multiple_selections_path do %>
    <% @groups.each do |f| %>
      <tr>
          <% if @user.selections.scoped_by_group_id(f).exists? %>
            <% @display_selection = Golfer.find(@user.selections.find_by_group_id(f).golfer_id) %>
            <td><%= check_box_tag "[selection_id][]", @user.selections.find_by_group_id(f).id%></td>
            <td><%= @display_selection.group_id %></td>
            <td><%= @display_selection.name %></td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>400</td>
            <td><%= link_to "Edit", "/selections/#{@user.selections.find_by_group_id(f).id}/edit" %></li></td>
          <% else %>
            <td></td>
            <td><%= f %></td>
            <td>Blank</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td></td>
          <% end %>
      </tr>
    <% end %>
  </table>
  <br>
    <%= submit_tag "Edit Checked" %>
  </br>  
<% end %>