<% provide :title, @user.name %>
<table class="profile">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>

<% if has_selections? %>
  <table class="front">
    <tr>
      <td class="main">
        <h1 class="selection">Your Selections:</h1>
      </td>
    </tr>
    <tr>
      <th>Golfer Name</th>
      <th>Golfer Group</th>
      <th>Round 1</th>
      <th>Round 2</th>
      <th>Round 3</th>
      <th>Round 4</th>
      <th>Final Score</th>
      <th>Select/Edit</th>
    </tr>
    
    <% for selection in @selections %>
    <% @display_selection = Golfer.find(selection.golfer_id) %>
     <tr>
        <td>
          <%= @display_selection.name %>
        </td>
        <td>
          <%= @display_selection.group_id %>
        </td>
        <td>
          100
        </td>
        <td>
          100
        </td>
        <td>
          100
        </td>
        <td>
          100
        </td>
        <td>
          400
        </td>
        <td>
          Edit
        </td>
      </tr>
    <% end %>
  </table>
  <% else %>
  <table class="front">
    <tr>
      <td class="main">
        <h1 class="selection">Please make your selections:</h1>
          <%= render 'shared/selections_form' %>
      </td>
    </tr>
  </table>


<% end %>