<% provide :title, @user.name %>
<table class="profile">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>

<% if signed_in? %>
  <ul>
    <% for selection in @selections %>
    <li>
      <%= selection.golfer_id %>
    </li>
    <% end %>
  </ul>
  <table class="front">
    <tr>
      <td class="main">
        <h1 class="selection">Please make your selections:</h1>
          <%= render 'shared/selections_form' %>
      </td>
    </tr>
  </table>

<% else %>
  <h1>Sample App</h1>
<% end %>