<%= form_tag selection_path, :method => :put do%>
  <table>
    <% @current_selection = current_user.selections.find(params[:id]) %>
    <% @group = Golfer.where(:group_id => @current_selection.group_id) %>
    <tr>
        <th>Group <%= @current_selection.group_id %>:</th>
      </tr>
      <tr>
        <th>Selection</th>
        <th>Name</th>
      </tr>
        <% for golfer in @group %>
        <tr>
          <td><%= check_box_tag "selections[golfer_id]", golfer.id %></td>
          <td><%= golfer.name %></td>
        </tr> 
      <% end %>
    <%= hidden_field_tag "selections[selection_id]", @current_selection.id %>
  </table>
    
  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>

  <% end %>