<table class="front">
  <tr>
    <td class="main">
      <h1 class="selection">Edit your selections:</h1>
    </td>
  </tr>
</table>
<% @current_selection = current_user.selections.find(params[:id]) %>
<% @group = Golfer.where(:group_id => @current_selection.group_id) %>
<table class="available">
  <tr>
    <th>Selection</th>
    <th>Group</th>
    <th>Golfer Name</th>
    <th>Status</th>
  </tr>
    <% for golfer in @group %>
      <tr>
        <%= form_tag selection_path, :method => :put do %>
          <%= hidden_field_tag "selections[golfer_id]", golfer.id %>
          <%= hidden_field_tag "selections[selection_id]", @current_selection.id %>
          <td><%= submit_tag "Update" %></td>
          <td><%= golfer.group_id %></td>
          <td><%= golfer.name %></td>
          <td><%= golfer.status %></td>
      </tr> 
        <% end %>
    <% end %>
</table>

<br>
<%= link_to "Back", current_user %>
</br>