<% if correct_user?(@user) %>
<% @groups.each do |f| %>
  <% if @team.selections.scoped_by_group_id(f).empty? %>
  <% @groups_available << f %>
  <% end %>
<% end %>

<% if @groups_available == [] %>
<% else %>

<table class="available-title">
  <tr>
    <td class="main">
      <h1 class="selection">Available Golfers:</h1>
      <p>*** Remember, you may only select one golfer from each group. Choose wisely! *** </p>
    </td>
  </tr>
</table>

<table class="available">
  <tr>
    <th>Selection</th>
    <th>Group</th>
    <th>Name</th>
    <th>Country</th>
    <th>Status</th>
    <th>First Masters Appearance?</th>
    <th>Previous Masters Champion?</th>
  </tr>

  <% @groups_available.each do |f| %>
    <% @group = Golfer.where(:group_id => f) %>
      <% for golfer in @group %>
        <tr>
          <%= form_tag selections_path, :method => :create do %>
          <%= hidden_field_tag "golfer_id", golfer.id %>
          <%= hidden_field_tag "team_id", params[:id] %>
          <td><%= submit_tag "Add" %></td>
          <td><%= golfer.group_id %></td>
          <td><%= golfer.name %></td>
          <td><%= golfer.country_name %></td>
          <td><%= golfer.status %></td>
          <td><%= golfer.first_masters? ? 'Yes' : 'No'%></td>
          <td><%= golfer.past_champion? ? 'Yes' : 'No' %></td>
        </tr> 
      <% end %>
    <% end %>
  <% end %>

<% end %>
</table>
<% end %>

