<% @groups.each do |f| %>
  <% if @user.selections.scoped_by_group_id(f).empty? %>
  <% @groups_available << f %>
  <% end %>
<% end %>

<% if @groups_available == [] %>
<% else %>

<table class="front">
    <tr>
      <td class="main">
        <h1 class="selection">Available Golfers:</h1>
      </td>
    </tr>
  </table>
<table class="available">

  <tr>
    <th>Selection</th>
    <th>Group</th>
    <th>Name</th>
    <th>Status</th>
  </tr>

  <% @groups_available.each do |f| %>
    <% @group = Golfer.where(:group_id => f) %>
      <% for golfer in @group %>
        <tr>
          <%= form_tag selections_path, :method => :create do %>
          <%= hidden_field_tag "golfer_id", golfer.id %>
          <td><%= submit_tag "Add" %></td>
          <td><%= golfer.group_id %></td>
          <td><%= golfer.name %></td>
          <td><%= golfer.status %></td>
        </tr> 
      <% end %>
    <% end %>
  <% end %>


<% end %>
</table>

