<%= form_for(@selection) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="radio">
    <%= f.radio_button(:golfer_id, "1") %>
    <%= f.label :golfer_id, "Aaron Baddely" %>

    <div class="radio">
    <%= f.radio_button(:golfer_id, "2") %>
    <%= f.label :golfer_id, "Sung-moon Bae" %>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>