<% provide :title, @user.name %>
<table class="profile">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br /><br />
      <strong>Teams:</strong><br />
      <% if @user.memberships.exists? %>
        <% @memberships = @user.memberships.find(:all) %>
        <% @memberships.each do |m| %>
          <% @pool = Pool.find(m.pool_id) %>
          <% if @user.teams.exists? %>
            <% @all_teams = @user.teams.find_all_by_pool_id(m.pool_id) %>
            <% @all_teams.each do |t| %>
              <strong><%= link_to @pool.name, pool_path(@pool) %></strong> <%= link_to t.name, team_path(t) %><br />
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>