<h1>Make your Selections</h1>

<%= form_tag selections_path, :method => :create do %>
  <ul>
    <% for golfer in @group_1 %>
      <li>
        <%= check_box_tag "selections[golfer_id]", golfer.id %>
        <%= hidden_field_tag "selections[user_id]", current_user.id %>
        <%= hidden_field_tag "selections[group_id]", "1" %>
        <%= golfer.name %>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>

<% end %>
