<header id="header" class="green-gradient"> 
  <div>
  <div class="logo">
     <h1>
        <% logo = image_tag("masters_logo.jpg", alt: "Masters Challenge", :mouseover => "masters_logo_hover.jpg") %>
        <%= link_to logo, root_path %>
     </h1>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Standings", standings_path %></li>
        <li><%= link_to "Rankings", rankings_path %></li>
      <% end %>

      <% if signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>